*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    box-sizing: calc(100);
    

}

      /*  header  */

@media screen (max-width:700px) {
    .header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
    .footer .grupo-1{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
        

 }

nav a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: yellow;
}
.header{
    display: flex;
    min-height: 60px;
    background-color: rgb(38, 38, 75);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   

} 

 .title{
    display: flex;
    margin-left: 20px;
    color: aliceblue;
 }


 
    /* banner */
  

 .background{
    position: relative ;
    
    height: 600px;
    background-image: url(banner.jpg);
    background-position-x: center;
    zoom: 110%;


 
}
.capa{
    width: 60%;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 20%;
    background: rgba(34, 34, 75, 0.75)
    
}
.content{
    padding-top: 10px;
    color:yellow;
    font-size: medium;
  .text{
    padding-top: 50px;
    color: white;
    width: 70%;
   }
}


      /*  main  */

 
.titlegalería{
    margin-top: 25px;
   margin-bottom: 20px;
   font-size: xx-large;
    }

.galería{
     margin-left: 150px;
     margin-right: 150px;
     color: rgb(34, 34, 75);
     .paragraphgalería{ margin-top: 15px;}
    }    

.Imágenes1{

    display: flex;
    text-align: center;
    margin-top: 70px;
    padding: 0px;
    justify-content: center
    }

.Imágenes2{

    display: flex;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    justify-content: center;
}


.servicios{
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(34, 34, 75);
}
.titleservicios{
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: xx-large;
}

.paragraphservicios1{
    margin-bottom: 15px;
}


div.decoraciónresidencial{ 
    position: absolute;
    bottom: 30;
    left: 20;

   
}


.footer{
    width: 100%;
    background-color: rgb(38, 38, 75);
}
.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-content: center;

}
.footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 12px;
    font-size: 20px;
    justify-content: center;
}
.footer .grupo-1 .box p{
    color: #fff;
    font-size: 13px;
    justify-content: center;
}
.footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    line-height: 50px;
    color: #fff;
    margin-right: 10px;
    border-color: #fff;
    text-align: center;
}
.footer .grupo-1 .red-social a:hover{
    color:yellow;
}
.footer .grupo-2{
    
    background-color: #ffffff;
    padding: 15px 10px;
    text-align: center;
    color: rgb(34, 34, 75);
}
.footer .grupo-2 small{
    font-size: 10px;
}
